:root {
  --primary-color: rgba(101, 63, 150, 1);
  --secondary-color: rgba(29, 156, 201, 1);
}

.body {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
}
